#! /usr/bin/env bash

alias l='ls'
alias la='ls -al'
alias ll='ls -al'

alias t='tree'
alias ta='tree -a'
alias tf='tree -f'
alias td='tree -d'
alias t1='tree -L 1'
alias t2='tree -L 2'
alias t3='tree -L 3'
alias t4='tree -L 4'
alias t5='tree -L 5'

alias vi='vim'
alias mvim='vim'
